label {
  display:block;
  margin:10px;
  font-size: 18px;
}

input {
  margin-bottom:5px;
}

header {
  background-color:skyblue;
  padding:10px;
}

h1 {
  text-align: center;
  font-size: 64px;
}

h5 {
  text-decoration: underline;
}

.btn {
  margin:5px;
}

.block {
  min-height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}
.row {
  padding: 20px;
}

img {
  max-width: 250px;
  position: absolute;
  margin-left: -125px;
}

.picCell {
  background-color:white;
  text-align: center;
}

.likesBtn {
  display: inline-block;
}

.likesCounter {
  display:inline-block;
}

.comments {
  position:absolute;
  background-color: #f9f9f9;
  z-index: 1;
  text-align: left;
  padding:5px;
  width:80%;
  border: 1px solid black;
  border-radius:5px;
}

.itemCell{
  margin:5px;
  background-color:skyblue;
  padding:10px;
  border: 1px solid midnightblue;
  border-radius: 5px;
  margin-bottom: 15px;
}

.description {
  padding: 30px;
  background-color: white;
}
